<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Protein
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=whey_protein" class="dropdown-item">Whey Protein</a>
                <a href="{% url 'products' %}?category=whey_protein_isolate" class="dropdown-item">Whey Protein Isolate</a>
                <a href="{% url 'products' %}?category=weight_gainers" class="dropdown-item">Weight Gainers</a>
                <a href="{% url 'products' %}?category=protein_bars" class="dropdown-item">Protein Bars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Performance
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=pre_workout" class="dropdown-item">Pre Workout</a>
                <a href="{% url 'products' %}?category=post_workout" class="dropdown-item">Post Workout</a>
                <a href="{% url 'products' %}?category=bcaa" class="dropdown-item">BCAA</a>
                <a href="{% url 'products' %}?category=creatine" class="dropdown-item">Creatine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vitamins & Health
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=multi_vitamins" class="dropdown-item">Multi Vitamins</a>
                <a href="{% url 'products' %}?category=fish_oil" class="dropdown-item">Fish oil</a>
                <a href="{% url 'products' %}?category=Greens_and_superfoods" class="dropdown-item">Greens & Superfoods</a>
            </div>
        </li>
    </ul>
</div>